

.slick-list {
    width: 789px;
    margin: auto;
}

.slick-prev {
    left: 20px;
    border: 0.865px solid #262626;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 45px;
    height: 45px;
    border-radius: 86.538px;
    border: 0.865px solid #262626;
    background: #141414;
}


.slick-next {
    right: 20px;
    border: 0.865px solid #262626;
    width: 45px;
    height: 45px;
    border-radius: 86.538px;
    border: 0.865px solid #262626;
    background: #141414;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

/* .slick-nex{} */
.slick-prev:before {
    content: '' !important;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/castla.png) !important;
    background-repeat: no-repeat;
}

.slick-next:before {
    content: '' !important;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/castra.png) !important;
    background-repeat: no-repeat;
}

@media(max-width:768px) {
    .slick-list {
        width: 60%;
        margin: auto;
    }
    .slick-prev {
        left: 10px;
       
    }
    
    
    .slick-next {
        right: 10px;
       
    
    }
    
}