.date_select_slider .swiper-button-next {
    border: 0.865px solid #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    border-radius: 86.538px;
    border: 0.865px solid #262626;
    background: #141414;
}

.date_select_slider .swiper-button-prev {
    border: 0.865px solid #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    border-radius: 86.538px;
    border: 0.865px solid #262626;
    background: #141414;
}

.date_select_slider .swiper-button-prev:after {
    content: '' !important;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/castla.png) !important;
    background-repeat: no-repeat;
}

.date_select_slider .swiper-button-next:after {
    content: '' !important;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/castra.png) !important;
    background-repeat: no-repeat;
}

/* .date_select_slider .swiper-slide{
    width: 99px !important;
} */

/* .date_select_slider .swiper{
    max-width: 789px !important;
    width: full;
} */