@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
}

.bg_banner {
    background-image: url('/src/assets/banner_crew.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 849px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.swiper-pagination-bullet {
    width: 23px !important;
    height: 4px !important;
    flex-shrink: 0 !important;
    border-radius: 100px !important;
    background: var(--Red-45, #E50000) !important;
    cursor: pointer;
}

/* border-radius: 100px;
background: var(--Black-20, #333); */

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    background: #333;
}

.upcomming_show .swiper-button-prev {
    left: 40% !important;
    border-radius: 50%;
    border: 1px solid #1F1F1F;
    background: #1A1A1A;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.upcomming_show .swiper-button-prev,
.upcomming_show .swiper-button-next {
    top: 95% !important;
}

.upcomming_show .swiper-button-prev:after {
    content: '' !important;
    width: 28px;
    height: 28px;
    background-image: url('/src/assets/upcommingshowleft.svg') !important;
    background-size: contain;
}

.upcomming_show .swiper-button-next:after {
    content: '' !important;
    width: 28px;
    height: 28px;
    background-image: url('/src/assets/upcomingarrowright.svg') !important;
    background-size: contain;
}

/* slider */
.swiper-button-prev:after {
    content: '' !important;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url('/src/assets/prev.svg') !important;
    background-size: contain;
}

.swiper-button-next:after {
    content: '' !important;
    display: flex;
    width: 28px;
    height: 28px;
    background-image: url('/src/assets/next.svg') !important;
    background-repeat: no-repeat;
}

.upcomming_show .swiper-button-next {
    left: 50%;
    border-radius: 50%;
    border: 1px solid #1F1F1F;
    background: #1A1A1A;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upcomming_show .swiper-button-[prev] {
    background-color: #1A1A1A;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
}

/* connect_page */
.connect_page {
    background-image: url('/src/assets/contact.png');
    background-repeat: no-repeat;
    padding: 58px 0;
    background-size: cover;
}

.contact_form {
    border-radius: 16px;
    background: rgba(69, 69, 69, 0.53);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

.banner .swiper-pagination-fraction,
.banner .swiper-pagination-custom,
.banner .swiper-horizontal>.banner .swiper-pagination-bullets,
.banner .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 8% !important;
}

@media (max-width:768px) {
    .navbar {
        display: inline;
    }

    .bg_banner {
        height: 574px !important;
    }

    .banner .swiper-pagination-fraction,
    .banner .swiper-pagination-custom,
    .banner .swiper-horizontal>.banner .swiper-pagination-bullets,
    .banner .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 2% !important;
    }

    .contact_form {
        width: 100%;
    }

    /* upcoming show */

    .upcomming_show .swiper-button-prev {
        left: 32% !important;
    }

    .upcomming_show .swiper-button-next {
        right: 32%;

    }

    .upcomming_show .swiper-button-prev,
    .upcomming_show .swiper-button-next {
        top: 76% !important;
        margin-top: 32px;
    }

    .hover_img {
        height: 100% !important;
        overflow: hidden;
    }

    .cast_slider .swiper-button-prev {
        left: 68% !important;
    }

}

/* .hover_img img {
    border-radius: 10px;
    overflow: hidden;
    transition: 2.9s;
}

.hover_img img:hover {
    transform: scale(1.5) !important;
} */

/* home page gallary img hover */
.hover_img {
    height: 544px;
    overflow: hidden;
}

.hover_img img {
    transition: transform .5s ease;
}

.hover_img:hover img {
    transform: scale(1);
}

.hover_img img {
    transition: transform .5s, filter 1.5s ease-in-out;
}

.hover_img:hover img {
    transform: scale(1.1);
}

.img_hover_show:hover .hover_txt {
    color: #FF3D48;
    transition: ease-in-out 0.3s;
    background-color: linear-gradient(0deg, rgba(255, 61, 72, .7) 0, rgba(255, 124, 209, .5));
}

/* cast_slider */
.cast_slider .swiper-button-next {
    right: 0;
    top: 25px;
    border: 0.865px solid var(--Colors-neutral-800, #262626);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 45px;
    background-color: #141414;
}

.cast_slider .swiper-button-prev {
    left: 87%;
    top: 25px;
    border: 0.865px solid var(--Colors-neutral-800, #262626);
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 45px;
    background-color: #141414;
}

.cast_slider .swiper {
    padding-top: 80px;
}

.cast_slider .swiper-button-next:after {
    content: '' !important;
    display: flex;
    width: 20px;
    height: 20px;
    background-image: url(/src/assets/castra.png) !important;
    background-repeat: no-repeat;

}

.cast_slider .swiper-button-prev:after {
    content: '' !important;
    display: flex;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/castla.png) !important;
    background-repeat: no-repeat;

}

.react-stepper-horizontal {
    border-width: 11px;
}

input:checked~.checkmark {
    background-color: red !important;
}

.container1 {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    border: 1px solid #FF3D48;
    background: var(--Black-06, #0F0F0F);
    margin-top: 10px;
}

.container1:hover input~.checkmark {
    background-color: #000;
}

.container1 input:checked~.checkmark {
    background-color: red;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container1 input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
    left: 11px;
    top: 8px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* stepper */
.step-item {
    @apply relative flex flex-col items-center justify-center w-36;
}

.step-item:not(:first-child):before {
    @apply content-[''] bg-[#7F7F7F] absolute w-[79%] h-[11px] top-[33.333333%] -translate-y-2/4 right-[63%];

}

.step {
    @apply relative z-10 flex items-center justify-center w-[43px] h-[43px] font-semibold text-[#1b1b1b] rounded-full;
}

.step {
    background-color: none !important;
}

.active {
    position: relative;
}

.complete:not(:first-child):before,
.active:not(:first-child):before {
    background-color: #FF3D48 !important;
    border: none !important;
}

.step-item .complete:not(.active) .step {
    border: 3px solid #FF3D48 !important;
}

.active::after {
    content: '';
    background-image: url('/src/assets/check.svg') !important;
    width: 100px;
}

.complete p {
    @apply text-white;
}

.complete:not(:first-child):before,
.active:not(:first-child):before {
    @apply bg-[#FFFFFF80];
    border: none !important;
}














/* now showing */
.img_hover_show:hover .img_hover_show>p {
    color: red !important;
}



/* stepper responsive */
@media(max-width:768px) {
    .step-item:not(:first-child):before {
        position: absolute;
        top: 33.333333%;
        right: 76%;
        height: 11px;
        width: 132px;
        --tw-translate-y: -50%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        --tw-bg-opacity: 1;
        background-color: rgb(127 127 127 / var(--tw-bg-opacity));
        --tw-content: '';
        content: var(--tw-content);
    }

    .selectStepperText {
        width: 100%;
        /* word-wrap: unset; */
        white-space: nowrap;
    }
}

.child {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in;
}

.parant:hover .child {
    visibility: visible;
    opacity: 1;
}
