@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
    font-family: 'Inter', sans-serif;
}

.bg_banner {
    background-image: url('/src/assets/HeroBanner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 849px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/* 

max-w-[1280px] w-full mx-auto


*/

.swiper-pagination-bullet {
    width: 23px !important;
    height: 4px !important;
    flex-shrink: 0 !important;
    border-radius: 100px !important;
    background: var(--Red-45, #E50000) !important;
    cursor: pointer;
}

/* border-radius: 100px;
background: var(--Black-20, #333); */

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    background: var(--Black-20, #333);
}

.banner .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-bottom: 68px;
}



upcomming_show .upcomming_show .swiper-button-prev {
    left: 90%;
    background-color: #1A1A1A;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.upcomming_show .swiper-button-prev,
.upcomming_show .swiper-button-next {
    top: 23px;
}

.upcomming_show .swiper-pagination-fraction,
.upcomming_show .swiper-pagination-custom,
.upcomming_show .swiper-horizontal>.swiper-pagination-bullets,
.upcomming_show .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 87% !important;
    width: auto;
    right: 0;
}

.upcomming_show .swiper-pagination-bullet {
    width: 16px;
}

.swiper-button-prev:after {

    content: '' !important;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url('/src/assets/prev.svg') !important;
    background-size: contain;
}

.swiper-button-next:after {
    content: '' !important;
    display: flex;
    width: 28px;
    height: 28px;
    background-image: url('/src/assets/next.svg') !important;
    background-repeat: no-repeat;
}

.upcomming_show .swiper-button-next {
    background-color: #1A1A1A;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
}

.upcomming_show .swiper-button-[prev] {
    background-color: #1A1A1A;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
}


/* connect_page */
.connect_page {
    background-image: url('/src/assets/connect.svg');
    background-repeat: no-repeat;
    padding: 58px 0;
    /* object-fit: cover; */
    background-size: cover;

}

.contact_form {
    border-radius: 16px;
    background: rgba(69, 69, 69, 0.53);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}



@media (max-width:768px) {
    .bg_banner {

        height: 574px !important;

    }

    .banner .swiper-pagination-fraction,
    .banner .swiper-pagination-custom,
    .banner .swiper-horizontal>.banner .swiper-pagination-bullets,
    .banner .swiper-pagination-bullets.swiper-pagination-horizontal {

        bottom: 30% !important;
    }

    .contact_form {
        width: 100%;
    }
}

.hover_img img {
    border-radius: 10px;
    overflow: hidden;
    transition: 2.9s;
}

.hover_img img:hover {
    transform: scale(1.5) !important;
}



/* cast_slider */
.cast_slider .swiper-button-next {
    right: 0;
    top: 25px;
    border: 0.865px solid var(--Colors-neutral-800, #262626);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* padding: 12px; */
    width: 45px;
     background-color: #141414;
    
}

.cast_slider .swiper-button-prev {
    left: 87% !important;
    top: 25px;
    border: 0.865px solid var(--Colors-neutral-800, #262626);
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 45px;
     background-color: #141414;
}

.cast_slider .swiper {
    padding-top: 80px;
}

.cast_slider .swiper-button-next:after {
    content: '' !important;
    display: flex;
    width: 20px;
    height: 20px;

    background-image: url(/src/assets/castra.png) !important;
    background-repeat: no-repeat;

}

.cast_slider .swiper-button-prev:after {
    content: '' !important;
    display: flex;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/castla.png) !important;
    background-repeat: no-repeat;

}



.stepper a:after{
    content: url('/src/assets/check.svg') !important;
}

.react-stepper-horizontal {
    border-width: 11px; /* Set the desired height */
}

input:checked ~ .checkmark {
    background-color: red !important;
  }
  .container1 {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    border: 1px solid #FF3D48;
    background: var(--Black-06, #0F0F0F);
    margin-top: 10px;
  }
  
  /* On mouse-over, add a grey background color */
  .container1:hover input ~ .checkmark {
    background-color: #000;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container1 input:checked ~ .checkmark {
    background-color: red;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container1 input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container1 .checkmark:after {
    left: 11px;
    top: 8px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }