@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
    font-family: 'Inter', sans-serif;
}

.bg_banner {
    background-image: url('/src/assets/HeroBanner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 849px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/* 

max-w-[1280px] w-full mx-auto


*/

.swiper-pagination-bullet {
    width: 23px !important;
    height: 4px !important;
    flex-shrink: 0 !important;
    border-radius: 100px !important;
    background: var(--Red-45, #E50000) !important;
    cursor: pointer;
}

/* border-radius: 100px;
background: var(--Black-20, #333); */

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    background: var(--Black-20, #333);
}

.banner .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-bottom: 68px;
}



@media (max-width:768px) {
    .bg_banner {

        height: 574px !important;

    }

    .banner .swiper-pagination-fraction,
    .banner .swiper-pagination-custom,
    .banner .swiper-horizontal>.banner .swiper-pagination-bullets,
    .banner .swiper-pagination-bullets.swiper-pagination-horizontal {

        bottom: 30% !important;
    }
}

/* upcomming_show */
.upcomming_show .swiper-button-prev {
    left: 90%;
    background-color: #1A1A1A;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.upcomming_show .swiper-button-prev,
.upcomming_show .swiper-button-next {
    top: 23px;
}

.upcomming_show .swiper-pagination-fraction,
.upcomming_show .swiper-pagination-custom,
.upcomming_show .swiper-horizontal>.swiper-pagination-bullets,
.upcomming_show .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 87% !important;
    width: auto;
    right: 0;
}

.upcomming_show .swiper-pagination-bullet {
    width: 16px;
}

.swiper-button-prev:after {

    content: '' !important;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url('/src/assets/prev.svg') !important;
    background-size: contain;
}

.swiper-button-next:after {
    content: '' !important;
    display: flex;
    width: 28px;
    height: 28px;
    background-image: url('/src/assets/next.svg') !important;
    background-repeat: no-repeat;
}

.upcomming_show .swiper-button-next {
    background-color: #1A1A1A;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
}
.upcomming_show .swiper-button-[prev] {
    background-color: #1A1A1A;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
}